<%= form_with model: @content do |f| %>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name, %>
  </div>

  <div class="field">
    <%= f.fields_for :photos do |i| %>
    <%= i.file_field :image %>
  <% end %>
  </div>

  <div class="field">
    <%= f.label :description  %>
    <%= f.text_field :description %>
  </div>


  <%= f.submit "投稿", class: "btn btn-primary" %>
<% end %>
