<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container">
    <%= link_to "", root_path, class: "navbar__brand navbar__mainLogo" %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>


    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-md-auto align-items-center">

        <li class ="nav-item"><%= link_to "ユーザー一覧",users_path, class: "btn btn-primary" %></li>
        <li class ="nav-item"><% if user_signed_in? == false %>
          <%= link_to "ログイン", new_user_session_path, class: "list-group-item list-group-item-action" %>
        <% end %></li>



        <% if user_signed_in? %>
          <li>
            <%= link_to "投稿", new_content_path, class: "btn btn-primary" %>
            <%= link_to "投稿一覧", contents_path, class: "list-group-item list-group-item-action" %>
            <%= link_to "プロフィールを編集", edit_user_registration_path, class: "list-group-item list-group-item-action" %>
            <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "list-group-item list-group-item-action"%>
         </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
